<div class="grid">
<mat-grid-list cols="{{colsNum}}" rowHeight="{{rowNum}}" class="mat-grid-list">
    <mat-grid-tile *ngFor="let item of items" class="mat-grid-tile"
    style="background-image: url({{item}}); background-size: contain;">
    <div class="backdrop">
        <div class="backdrop-info" *ngFor="let elem in elements">
            <div class="backdrop-title">{{elem.title}}</div>
            <div class="backdrop-rating">{{elem.vote_average}}</div>
            <div class="backdrop-rating">{{elem.releases_date}}</div>
        </div>
    </div>
    </mat-grid-tile>
</mat-grid-list>
</div>