<mat-toolbar class="mat-toolbar">
    <h1>Movie Service</h1>
    <!-- <button mat-icon-button class="example-icon" mat-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>
            <a routerLink="/auth/authorization">Авторизация</a>
        </button>
        <button mat-menu-item>
            <a routerLink="/auth/registration">Регистрация</a>
        </button>
        <button mat-menu-item>
            <a routerLink="/main">Main</a>
        </button>

    </mat-menu>
    </button> -->
    
</mat-toolbar>
<router-outlet></router-outlet>

