<form class="registrationForm-form" [formGroup]="registrationForm">
    <h1>Registration</h1>
    <div class="registration-form-signup-username">
        <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input formControlName="username" matInput>
        </mat-form-field>
    </div>
    <div class="registration-form-signup-password">
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input class="input" formControlName="password" matInput>
        </mat-form-field>
        <div class="errorPassword" 
        *ngIf="registrationForm.controls['password'].invalid">
        Неверно введён пароль
        </div>
    </div>
    <div class="registration-form-signup-confirmPassword">
        <mat-form-field appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input formControlName="confirmPassword" matInput>
        </mat-form-field>
        <div class="registration-from-signup-confirmPassword"
        *ngIf="registrationForm.controls['confirmPassword'].value !== registrationForm.controls['password'].value">
        Пароли не совпадают
        </div>
    </div>
    <div class="buttonPanel">
        <button mat-raised-button class="signUpBtn" (click)="signUp()">Sign Up</button>
        <a class="toSignInBtn" (click)="navigateToSignIn()">Have an accout? Sign In</a>
    </div>
</form>
