.main-div{
    width: 100%;
    height: auto;
    position: relative;
    padding-bottom: 150px;
}

.main-container{
    width: 80%;
    margin: auto;
}

.content-1{
    display:flex;
    justify-content: space-around;
    align-items: center;
}

/* CAROUSEl */

.carousel{
    text-align: center;
    height: 100%;
    width: 35%;
}

.carousel-control-next, .carousel-control-prev{
    color: black !important;
}

.img-wrapper{
    height: 100%;
}

/* APP-GRID-LIST */

.app-grid-list{
    margin-top: 1.8rem;
}








