<div class="footer">
    <div class="links">
        <a href="https://vk.com/abv_2013" target="_blank"><img class="icon" src="../../../assets/social/free-icon-vk-social-logotype-48965.svg"></a>
        <a href="https://www.instagram.com/dim_0ut/" target="_blank"><img class="icon" src="../../../assets/social/free-icon-instagram-social-network-logo-of-photo-camera-48898.svg"></a>
        <a href="https://www.facebook.com/dmitriy.suhoveyeu/" target="_blank"><img class="icon" src="../../../assets/social/free-icon-facebook-logo-49052.svg"></a>
        <a href="https://www.linkedin.com/in/dmitriy-suhoveev-024b681b7/" target="_blank"><img class="icon" src="../../../assets/social/free-icon-linkedin-logo-49068.svg"></a>
        <a href="https://t.me/dmitriy_suhoveev" target="_blank"><img class="icon" src="../../../assets/social/telegram-logo.svg"></a>
    </div>
    <div class="support">По всем вопросам обращаться на почту <b>dima.suhoveev@gmail.com</b></div>
</div>