    <div>
        <div class="modal-header">
            <h4 class="modal-title">{{title}}</h4>
            <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <div class="body-img">
                    <img src ="poster_path">
                </div>
                <div class="body-info">
                    <ul>
                        <li>title</li>
                        <li>budget</li>
                        <li>genres</li>
                        <li>original_language</li>
                        <li>overview</li>
                        <li>popularity</li>
                        <li>production_companies</li>
                        <li>production_countries</li>
                        <li>release_date</li>
                        <li>runtime</li>
                        <li>vote_average</li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <div class="modal-footer-header">
                    <div>avatar</div>
                    <div>username</div>
                    <div>rating</div>
                </div>
                <div class="modal-footer-body">
                    <p>content</p>
                </div>
                <div class="modal-footer-footer">
                    <p>created</p>
                </div>
            </div>
    </div>
