<div class="pop-up" *ngFor="let elem of elements">
  <div class="pop-up-nav">
    <h2 mat-dialog-title>{{elem.title}}</h2>
    <div class="nav-controll">
      <button mat-raised-button mat-dialog-close color="warn">Close</button>
      <button mat-raised-button (click)="onCloseAll()" color="warn">Close All</button>
    </div>
  </div>
<div class="mat-typography">
  <div class="content">
    <div class="poster">
      <img *ngIf="checkPoster(elem.poster) == null" class="img" src="../../../../assets/images/unknown-avatar.png">
      <img *ngIf="checkPoster(elem.poster) !== null" class="img" [src]="elem.poster">
    </div>
    <div class="movie-info">
      <ul class="ul">
        <li *ngIf="!elem.adult"><b>Adult: </b>No Adult</li>
        <li *ngIf="elem.adult"><b>Adult: </b>Adult</li>
        <li *ngIf="elem.budget == 0"><b>Budget: </b>No information</li>
        <li *ngIf="elem.budget > 0"><b>Budget: </b>{{elem.budget}}$</li>
        <li><b>Genres: </b>{{elem.getGenres()}}</li>
        <li><b>Overview: </b>{{elem.overview}}</li>
        <li><b>Companies: </b>{{elem.getCompanies()}}</li>
        <li><b>Countries: </b>{{elem.getCountries()}}</li>
        <li><b>Original Title: </b>{{elem.original_title}}</li>
        <li><b>Actors: </b> <div *ngFor="let item of casts"><p>{{item.character}} {{item.name}}</p></div></li>
        <li><b>Release Date: </b>{{elem.release_date}}</li>
        <li><b>Runtime: </b>{{elem.runtime}} minutes</li>
        <li><b>Status: </b>{{elem.status}}</li>
        <li><b>Popularity: </b>{{elem.popularity}}</li>
        <li><b>Vote Average: </b>
          <ngb-rating [rate]="elem.vote_average" [readonly]="true">
            <ng-template let-fill="fill" let-index="index">
              <span class="star" [class.filled]="fill === 100" [class.bad]="index < 3" [class.exellent]="index > 6">&#9733;</span>
            </ng-template>
          </ngb-rating></li>
      </ul>
    </div>
  </div>

  <div class="pictures">
    <div class="backdrops" *ngFor="let elem of backdrops">
      <img class="backdrop" [src]="elem.backdrop">
    </div>
  </div>

  <div class="similar">
    <app-gallery-carousel [items]="similar" title="Similar Movies"></app-gallery-carousel>
  </div>

  <div class="reviews" *ngFor="let item of reviews">
    <div class="reviews_author">
      <div class="avatar" *ngIf="check(item.details.avatar_path)"><img class="avatar-img" [src]="item.cut()" alt="No Avatar"></div>
      <div class="avatar" *ngIf="!check(item.details.avatar_path)"><img class="avatar-img" [src]="item.avatar" alt="No Avatar"></div>
      <div class="username">{{item.details.username}}</div>
      <div class="rating" *ngIf="item.details.rating!=null">Rating: {{item.details.rating}}<mat-icon color="warn">star</mat-icon></div>
      <div class="rating" *ngIf="item.details.rating===null">Rating: No Rating</div>
    </div><hr>
    <div class="reviews_content"><details><summary>Read more</summary>{{item.content}}</details></div><hr>
    <div class="reviews_footer">Created: {{item.created}}<br>Updated: {{item.updated}}</div><hr>
  </div>

</div>
</div>